/*
================== 
font import 
==================
*/

@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Noto+Sans+JP:wght@400;700&display=swap");

/*
================== 
css variables 
==================
*/

:root {
  --clr-primary: #047634;
  --clr-primary-light: #beedac;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5fa;
  --clr-white: #fff;
  --ff-primary: "Noto Sans JP", sans-serif;
  --ff-secondary: "Caveat", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/*
================== 
css reset 
==================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
================== 
body styling
==================
*/

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
================== 
other global styles
==================
*/

.btn {
  border: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  outline: 0.2rem solid var(--clr-primary-light);
  outline-offset: 0.3rem;
  background-color: var(--clr-primary-light);
  color: var(--clr-primary);
  transition: var(--transition);
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #047634;
  color: var(--clr-white);
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

.section-center {
  max-width: 1170px;
  padding: 3rem 1.5rem;
  margin: 0 auto;
}

/*
================== 
hero
==================
*/

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.478), rgba(0, 0, 0, 0.478)),
    url(../images/main-soccer-bcg.jpg) center/cover no-repeat;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 700px;
}

.hero-content h2 {
  font-family: var(--ff-secondary);
  color: var(--clr-white);
}

.hero-content h1 {
  font-family: var(--ff-primary);
  color: var(--clr-white);
  margin-bottom: 3rem;
}

.btn-hero {
  padding: 1rem 2rem;
}

/*
================== 
content divider
==================
*/

.content-divider {
  height: 1rem;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

/*
================== 
skills section
==================
*/

.skills-section {
  background: var(--clr-grey-10);
}
.single-skill {
  text-align: center;
  padding: 2rem 0;
  transition: var(--transition);
}

.skill-content {
  max-width: 350px;
  margin: 0 auto;
  color: var(--clr-grey-5);
}

.skill-icon {
  font-size: 2rem;
  color: var(--clr-primary);
  display: inline-block;
  margin-bottom: 0.5rem;
  transition: var(--transition);
}

.skill-title {
  letter-spacing: var(--spacing);
}

.single-skill:hover {
  box-shadow: 0px 2px 0px var(--clr-primary);
  background: rgba(0, 0, 0, 0.1);
}

.single-skill:hover .skill-icon {
  transform: translateY(-10px);
}

@media screen and (min-width: 578px) {
  .single-skill {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .single-skill {
    float: left;
    width: 25%;
  }
  .skill-content {
    padding: 0 2rem;
  }
}

/*
================== 
about
==================
*/

.about-info {
  margin-top: 2rem;
  display: inline-block;
}

.about-sub-title {
  margin-bottom: 0;
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
}

.about-content {
  color: var(--clr-grey-5);
  max-width: 450px;
}

.about-btn {
  outline: none;
  background: var(--clr-primary);
  color: var(--clr-white);
}

.about-img {
  max-width: 30rem;
  overflow: hidden;
}

.about-img img {
  border: 10px solid var(--clr-primary);
  transition: var(--transition);
}

@media screen and (min-width: 992px) {
  .about-img {
    float: left;
    width: 50%;
  }
  .about-info {
    margin-top: 0;
    padding-left: 3rem;
  }
}

.about-img:hover {
  opacity: 0.5;
}

.about-img:hover img {
  transform: scale(1.2);
}

.about-btn:hover {
  background-color: var(--clr-primary-light);
  color: var(--clr-primary);
}

/*
================== 
product
==================
*/

.product-btn {
  margin-bottom: 4rem;
}

.product-section {
  background-color: var(--clr-grey-10);
}

.single-product img {
  border-radius: var(--radius);
  height: 20rem;
  object-fit: cover;
}

.img-text-1 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

.img-text-2 {
  color: var(--clr-primary);
  text-transform: capitalize;
  font-weight: 700;
}

@media screen and (min-width: 800px) {
  .single-product {
    float: left;
    width: 50%;
    padding: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .single-product {
    width: 33%;
  }
}

@media screen and (min-width: 1120px) {
  .product-info {
    float: left;
    width: 20%;
    margin-right: 7rem;
  }

  .single-product {
    display: inline-block;
    width: 250px;
  }

  .single-product img {
    display: inline-block;
    width: 200px;
  }

  .single-product p {
    width: 200px;
    display: inline-block;
  }
}

/*
================== 
field cards
==================
*/

.section-intro {
  text-align: center;
}

.section-intro h3 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
}

.single-card {
  margin: 2.5rem 0;
  background-color: var(--clr-grey-10);
}

.image-container {
  position: relative;
}

.image-container img {
  height: 20rem;
  object-fit: cover;
}

.field-icon {
  position: absolute;
  font-size: 3rem;
  color: var(--clr-primary);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 40%);
  background-color: var(--clr-primary-light);
  padding: 0 0.8rem;
  border: 0.4rem solid var(--clr-grey-10);
  border-radius: 50%;
}

.single-card-text1 {
  text-align: center;
  margin-top: 3rem;
  letter-spacing: var(--spacing);
  font-weight: 700;
  text-transform: capitalize;
}

.single-card-text2 {
  text-align: center;
  padding: 0 2rem;
  color: var(--clr-grey-5);
  margin: 0 auto;
  max-width: 27rem;
}

.service-btn {
  outline: none;
  margin: 2rem auto;
}
