/*
================== 
font import 
==================
*/

@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Noto+Sans+JP:wght@400;700&display=swap");

/*
================== 
css variables 
==================
*/

:root {
  --clr-primary: #678e3e;
  --clr-primary-light: #beedac;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5fa;
  --clr-white: #fff;
  --ff-primary: "Noto Sans JP", sans-serif;
  --ff-secondary: "Caveat", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/*
================== 
css reset 
==================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
